.pertama{
    border: 2px solid red;
    display: inline-block;
    margin: 2px;
    padding: 5px;
}

.kedua{
    border: 2px solid red;
    display: inline-block;
    margin: 2px;
    padding: 5px;
}

.ketiga{
    border: 2px solid red;
    display: inline-block;
    margin: 2px;
    padding: 5px;
}